@import '@fontsource/indie-flower';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Indie Flower', sans-serif;
    text-shadow: 1px 1px 0 #484848
}

img {
    padding-bottom: 2rem;
}

.fun-button {
    @apply py-2 px-5 mb-10 text-xl text-center text-white rounded-lg bg-grass hover:bg-gradient-to-r from-sky-800 to-grass focus:ring-4 focus:outline-none focus:ring-white;
}