@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Indie Flower';
    src: url('/public/fonts/IndieFlower.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Indie Flower', sans-serif;
    text-shadow: 1px 1px 0 #484848
}

img {
    padding-bottom: 2rem;
}